<%- include("header"); -%>

    <h1 style="color:palevioletred">This is an about page</h1>
    <p>Hey there! Have your custom TO-DO lists ready for work, home, groceries and others.</p>

<%- include("footer"); -%>
    
